@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
  -moz-appearance: none;
  background-color: rgb(43,43,43);
  border-top: 1px solid;
  -moz-border-top-colors: rgb(75,75,75);
  color: #fff;
}

toolbox:-moz-lwtheme {
  color: inherit;
  text-shadow: inherit;
  background-color: transparent;
}

/* ::::: menubar & toolbar ::::: */

toolbar, menubar {
  -moz-appearance: none;
  color: #fff;
}

toolbar {
  background-color: rgb(43,43,43);
  min-width: 1px;
  min-height: 19px;
  border-top: 1px solid rgb(75,75,75);
  border-bottom: 1px solid rgb(75,75,75);
}

toolbar:first-child, menubar {
  min-width: 1px;
  border-bottom: 1px solid rgb(75,75,75);
  border-top: 0px !important;
}

menubar, toolbar[type="menubar"] {
  -moz-appearance: none;
  color: #fff;
  min-width: 1px;
  min-height: 20px;
  padding: 1px 0px;
}

menubar:-moz-lwtheme,
toolbar:-moz-lwtheme {
  -moz-appearance: none;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  color: inherit !important;
}

/* in browser.xul, the menubar is inside a toolbar... */
toolbaritem > menubar {
  -moz-appearance: none;
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
  -moz-appearance: none;
  margin: 3px 4px;
  background: url("chrome://global/skin/toolbar/toolbar-separator.png") transparent repeat-y;
  padding: 0;
  width: 1px !important;
}

toolbarspacer {
  width: 15px;
}

