@media all and (-moz-windows-compositor) {
  .titlebar-button {
    display: none;
  }

  #main-window[sizemode="maximized"] #titlebar-buttonbox {
    -moz-margin-end: 3px;
  }

  /* Fix borders because of Vista/7 versus 8/10+ */
  #main-window {
    -moz-appearance: -moz-win-glass;
  }
  
  /* On win 10, if we don't set this on the entire browser container, including
  * the sidebar, then the accent color bleeds through in the titlebar
  * if the sidebar is open. */
  #browser {
    -moz-appearance: -moz-win-exclude-glass;
  }
  
  @media (-moz-os-version: windows-vista),
  (-moz-os-version: windows-win7) {
  /* Make sure the native margins are correct on Win Vista/7.
  * We can't use -moz-win-glass there because the border sizing would
  * not be correct. */
    #main-window {
      -moz-appearance: -moz-win-borderless-glass;
    }
  
  /* The borders on the glass frame are ours, and inside #browser, and on
  * vista and win7 we want to make sure they are "glassy", so we can't use
  * #browser as the exclude-glass container. We use #appcontent instead. */
    #browser {
      -moz-appearance: none;
    }
  
    #appcontent {
      -moz-appearance: -moz-win-exclude-glass;
    }
}

  #main-window[chromemargin^="0,"][sizemode=normal] #navigator-toolbox {
    margin-top: -7px;
  }

  
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme {
    border-top: 2px solid;
    -moz-border-top-colors: rgb(37, 44, 51) rgba(255,255,255,.6);
  }

  #main-window[sizemode="normal"] > #titlebar > #titlebar-content:-moz-lwtheme:-moz-window-inactive {
    -moz-border-top-colors: rgb(102, 102, 102) rgba(255,255,255,.6);
  }

  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container:-moz-lwtheme {
    margin-top: -1px;
  }

  #main-window[sizemode="normal"] #titlebar-buttonbox:-moz-lwtheme {
    margin-top: -2px;
  }

  #appmenu-button {
    margin-bottom: -1px; 
  }
}