@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");


#main-window[tabsintitlebar] #titlebar {
  visibility: hidden;
}
#main-window[tabsintitlebar] #titlebar-content {
  -moz-binding: url("chrome://global/content/bindings/general.xml#windowdragbox");
  visibility: visible;
}

/* ::::: titlebar ::::: */

#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: none;
}

#main-window[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

#main-window[sizemode="maximized"][tabsintitlebar] > #titlebar {
  -moz-appearance: none;
  min-height: 26px;
  margin-top: 4px;
}


@media all and (-moz-windows-classic) {
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: 4px;
  }
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

#main-window[sizemode="maximized"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
}

.titlebar-placeholder[type="appmenu-button"] {
  margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 10px;
}


#main-window[tabsintitlebar] #titlebar-min, #minimize-button {
  -moz-appearance: none !important;
  background: url("chrome://browser/skin/min-btn.png") left no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  margin-right: 0;
}

#main-window[tabsintitlebar] #titlebar-max, #restore-button {
  -moz-appearance: none !important;
  background: url("chrome://browser/skin/max-btn.png") left no-repeat;
  width: 25px;
  height: 25px;
  border: none;
}

#main-window[tabsintitlebar] #titlebar-close, #close-button {
  -moz-appearance: none !important;
  background: url("chrome://browser/skin/close-btn.png") left no-repeat;
  width: 25px;
  height: 25px;
  border: none;
}

#main-window[tabsintitlebar] #titlebar-min:hover, #main-window[tabsintitlebar] #titlebar-max:hover, #main-window[tabsintitlebar] #titlebar-close:hover,
#minimize-button:hover, #restore-button:hover, #close-button:hover {
  background-position: center;
}

#main-window[tabsintitlebar] #titlebar-min:active, #main-window[tabsintitlebar] #titlebar-max:active, #main-window[tabsintitlebar] #titlebar-close:active,
#minimize-button:hover, #restore-button:hover, #close-button:active {
  background-position: right;
}

#minimize-button, #restore-button, #close-button {
  padding: 0;
  margin-top: -1px;
}



#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

@media not all and (-moz-windows-classic) {
  #titlebar-min {
    -moz-margin-end: 2px;
  }
}

/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  margin: 0;
  padding: 2px 3px;
}

toolbarbutton.bookmark-item:hover:active:not([disabled="true"]),
toolbarbutton.bookmark-item[open="true"] {
  padding-top: 3px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.bookmark-item:not(#bookmarks-menu-button) > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}


.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

#wrapper-personal-bookmarks[place="palette"] > .toolbarpaletteitem-box {
  width: 16px;
  height: 16px;
  background: url("chrome://browser/skin/places/bookmarksToolbar.png") no-repeat center;
}

.bookmarks-toolbar-customize {
  max-width: 15em !important;
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
}

/* ::::: bookmark menus ::::: */

menu.bookmark-item,
menuitem.bookmark-item {
  min-width: 0;
  max-width: 32em;
}

.bookmark-item > .menu-iconic-left {
  margin-top: 0;
  margin-bottom: 0;
}

.bookmark-item > .menu-iconic-left > .menu-iconic-icon {
  -moz-padding-start: 0px;
}

/* ::::: fullscreen window controls ::::: */
#TabsToolbar > #window-controls {
  -moz-margin-start: 4px;
}

#minimize-button,
#restore-button,
#close-button {
  list-style-image: url("chrome://global/skin/icons/windowControls.png");
  padding: 0;
}

#minimize-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
#minimize-button:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0);
}
#minimize-button:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0);
}
#restore-button {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
#restore-button:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
#restore-button:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
#close-button {
  -moz-image-region: rect(0, 48px, 16px, 32px);
  -moz-appearance: none;
  border-style: none;
  margin: 2px;
}
#close-button:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
#close-button:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

/* ::::: throbber ::::: */
#TabsToolbar {
  min-height: 0;
  padding: 0;
}

#main-window[chromemargin][tabsontop=true] #TabsToolbar {
  background: transparent;
}

@media all and (-moz-windows-default-theme) {
  #main-window[sizemode=normal] #TabsToolbar:not([inFullscreen]) {
    padding-left: 2px;
    padding-right: 2px;
  }
}
