/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#downloadsRichListBox {
  /** The default listbox appearance comes with an unwanted margin. **/
  -moz-appearance: none;
  margin: 0;
}

#downloadsRichListBox > richlistitem.download {
  height: 6em;
  border-bottom: 1px solid rgb(50,50,50);
}

.downloadTypeIcon {
  margin-inline-end: 8px;
  margin-inline-start: 8px;
  /* explicitly size the icon, so size doesn't vary on hidpi systems */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/error-16.svg");
}

.downloadTarget,
.downloadDisplayName {
  margin-bottom: 3px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.7;
  font-size: 95%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  background: transparent;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  padding: 5px;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#cancel-normal");
}
.downloadButton.downloadCancel:hover {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#cancel");
}
.downloadButton.downloadCancel:active {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#cancel-active");
}

.downloadButton.downloadShow {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#show-normal");
}
.downloadButton.downloadShow:hover {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#show");
}
.downloadButton.downloadShow:active {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#show-active");
}

.downloadButton.downloadRetry {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#retry-normal");
}
.downloadButton.downloadRetry:hover {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#retry");
}
.downloadButton.downloadRetry:active {
  list-style-image: url("chrome://browser/skin/downloads/buttons.svg#retry-active");
}

#downloadsRichListBox > richlistitem.download[selected] {
  color: #fff;
  background-color: rgb(110,110,110);
}

/* Fixes for "Downloads Window" extension */

#downloadsWindow > #downloadsRichListBox > richlistitem.download:not([selected="true"]):nth-child(odd) {
  background-color: rgb(75, 75, 75) !important;
}

#downloadsWindow > #downloadsRichListBox {
  -moz-border-bottom-colors: rgb(110, 110, 110) transparent !important;
}
