/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*** Panel and outer controls ***/

#downloadsPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#downloadsPanel:not([hasdownloads]) > #downloadsListBox {
  display: none;
}

#downloadsHistory {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

#downloadsPanel[keyfocus] > #downloadsFooter > #downloadsHistory:focus {
  outline: 1px rgb(75,75,75) dotted;
  outline-offset: -1px;
}

#downloadsHistory > .button-box {
  border: none;
  margin: 1em;
}

#downloadsPanel[hasdownloads] > #downloadsFooter {
  background: rgb(75,75,75);
  border-top: 1px solid rgb(75,75,75);
}

/*** Downloads Summary and List items ***/

#downloadsSummary,
richlistitem[type="download"] {
  height: 7em;
  -moz-padding-end: 0;
  color: inherit;
}

#downloadsSummary {
  padding: 8px 38px 8px 12px;
  cursor: pointer;
  -moz-user-focus: normal;
}

#downloadsPanel[keyfocus] > #downloadsFooter > #downloadsSummary:focus {
  outline: 1px rgb(75,75,75) dotted;
  outline-offset: -5px;
}

#downloadsSummary > .downloadTypeIcon {
  list-style-image: url("chrome://browser/skin/downloads/download-summary.png");
}

#downloadsSummaryDescription {
  color: -moz-nativehyperlinktext;
}

richlistitem[type="download"] {
  margin: 0;
  border-bottom: 1px solid rgb(75,75,75);
  background: rgb(50,50,50);
  padding: 8px;
}

richlistitem[type="download"]:first-child {
  border-top: 1px solid transparent;
}

@media (-moz-windows-default-theme) {
  richlistitem[type="download"]:last-child {
    border-bottom: 1px solid transparent;
  }
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

/* We hold .downloadTarget, .downloadProgress and .downloadDetails inside of
   a vbox with class .downloadContainer. We set the font-size of the entire
   container to 90% because:

   1) This is the size that we want .downloadDetails to be
   2) The container's width is set by localizers by &downloadDetails.width;,
      which is a ch unit. Since this is the value that should control the
      panel width, we apply it to the outer container to constrain
      .downloadTarget and .downloadProgress.

   Finally, since we want .downloadTarget's font-size to be at 100% of the
   font-size of .downloadContainer's parent, we use calc to go from the
   smaller font-size back to the original font-size.
 */
#downloadsSummaryDetails,
.downloadContainer {
  font-size: 90%;
}

#downloadsSummaryDescription,
.downloadTarget {
  margin-bottom: 6px;
  cursor: inherit;
}

.downloadTarget {
  font-size: calc(100%/0.9);
}

#downloadsSummaryDetails,
.downloadDetails {
  opacity: 0.6;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
}

.downloadButton > .button-box {
  border: 1px solid transparent;
  padding: 0;
}

#downloadsPanel[keyfocus] .downloadButton:focus > .button-box {
  border: 1px dotted rgb(75,75,75);
}

/*** Highlighted list items ***/

#downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"][exists]:hover {
  color: #fff;
  background-color: rgb(75,75,75);
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow:active {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:hover {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
