/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**** folder menulist ****/
.folder-icon > .menulist-label-box > .menulist-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://browser/skin/places/places.svg");
  -moz-image-region: rect(2px, 198px, 18px, 182px); 
}


/**** expanders ****/

.expander-up,
.expander-down {
  min-width: 0;
  margin: 0;
  margin-inline-end: 4px;
}

.expander-up > .button-box,
.expander-down > .button-box {
  padding: 0;
}

.expander-up {
  list-style-image: url("chrome://global/skin/icons/expander.svg#collapse");
}

.expander-down {
  list-style-image: url("chrome://global/skin/icons/expander.svg#expand");
}

#editBookmarkPanelContent {
  min-width: 23em;
}

#editBMPanel_folderTree {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Hide the value column of the tag autocomplete popup
 * leaving only the comment column visible. This is
 * so that only the tag being edited is shown in the
 * popup.
 */
#editBMPanel_tagsField #treecolAutoCompleteValue {
  visibility: collapse;
}


/* ::::: bookmark panel dropdown icons ::::: */

#editBMPanel_folderMenuList[selectedIndex="0"],
#editBMPanel_toolbarFolderItem {
  -moz-image-region: rect(2px, 138px, 18px, 122px);
}

#editBMPanel_folderMenuList[selectedIndex="1"],
#editBMPanel_bmRootItem {
  -moz-image-region: rect(2px, 158px, 18px, 142px);
}

#editBMPanel_folderMenuList[selectedIndex="2"],
#editBMPanel_unfiledRootItem {
  -moz-image-region: rect(2px, 178px, 18px, 162px);
}

menuitem.folder-icon[_moz-menuactive="true"] {
  -moz-image-region: rect(2px, 358px, 18px, 342px);
}

#editBMPanel_toolbarFolderItem[_moz-menuactive="true"] {
  -moz-image-region: rect(2px, 298px, 18px, 282px);
}

#editBMPanel_bmRootItem[_moz-menuactive="true"] {
  -moz-image-region: rect(2px, 318px, 18px, 302px);
}

#editBMPanel_unfiledRootItem[_moz-menuactive="true"] {
  -moz-image-region: rect(2px, 338px, 18px, 322px);
}

#editBMPanel_folderMenuList > .menulist-label-box > .menulist-icon{
  margin-inline-end: 4px;
}
