#padlock-ib,
#padlock-ib-left,
#padlock-ub-right,
#padlock-sb,
#padlock-tab {
  background-color: transparent !important;
}

#padlock-ib-left[padshow="ib-left"] {
  padding: 2px;
}

#padlock-ib[padshow="ib-trans-bg"][level="ev"],
#padlock-ib-left[padshow="ib-left"][level="ev"],
#padlock-ub-right[padshow="ub-right"][level="ev"],
#padlock-sb[padshow="statbar"][level="ev"],
#padlock-tab[padshow="tabs-bar"][level="ev"] {
  list-style-image: url("chrome://browser/skin/identity-secure.svg") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="high"],
#padlock-ib-left[padshow="ib-left"][level="high"],
#padlock-ub-right[padshow="ub-right"][level="high"],
#padlock-sb[padshow="statbar"][level="high"],
#padlock-tab[padshow="tabs-bar"][level="high"] {
  list-style-image: url("chrome://browser/skin/identity-domain-secure.svg") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="low"],
#padlock-ib-left[padshow="ib-left"][level="low"],
#padlock-ub-right[padshow="ub-right"][level="low"],
#padlock-sb[padshow="statbar"][level="low"],
#padlock-tab[padshow="tabs-bar"][level="low"] {
  list-style-image: url("chrome://browser/skin/identity-low-secure.svg") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="mixed"],
#padlock-ib-left[padshow="ib-left"][level="mixed"],
#padlock-ub-right[padshow="ub-right"][level="mixed"],
#padlock-sb[padshow="statbar"][level="mixed"],
#padlock-tab[padshow="tabs-bar"][level="mixed"] {
  list-style-image: url("chrome://browser/skin/identity-mixed-passive-loaded.svg") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="broken"],
#padlock-ib-left[padshow="ib-left"][level="broken"],
#padlock-ub-right[padshow="ub-right"][level="broken"],
#padlock-sb[padshow="statbar"][level="broken"],
#padlock-tab[padshow="tabs-bar"][level="broken"] {
  list-style-image: url("chrome://browser/skin/identity-mixed-active-loaded.svg") !important;
}
