/* ::::: titlebar ::::: */

#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

#main-window[sizemode="maximized"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
}

.titlebar-placeholder[type="appmenu-button"] {
  margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 10px;
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

/* ensure titlebar on privacy windows is of correct size */
#titlebar {
  height: 22px;
}

/* ensure extra titlebar doesn't appear on normal (e.g. non-privacy) windows */
#main-window:not([privatebrowsingmode=temporary]):not(:-moz-lwtheme) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([drawintitlebar=true]):not(:-moz-lwtheme) > #titlebar {
  display: none;
}

#titlebar-spacer {
  display: none;
}

#titlebar-buttonbox-container {
  margin-left: 7px;
  margin-top: 3px;
}

#main-window:-moz-lwtheme > #titlebar {
  -moz-appearance: none !important;
}

.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) > * > * > .tab-text {
  text-shadow: none;
}

#navigator-toolbox[tabsontop="false"] #PersonalToolbar,
#navigator-toolbox[tabsontop="false"] #TabsToolbar {
  background: transparent;
}

/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  font-weight: normal;
  border: 0;
  border-radius: 10000px;
  padding: 1px 8px;
  margin: 0 0 1px;
}

.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
  margin: 0 !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.bookmark-item > menupopup {
  margin-top: 2px;
  margin-inline-start: 3px;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  min-height: 16px;
  max-height: 16px;
}

.bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
.bookmark-item > .toolbarbutton-icon[type="menu"] {
  margin-inline-end: 5px;
}

#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background-image: url("chrome://browser/skin/toolbar/private.svg");
  background-size: auto 24px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
}

#main-window[privatebrowsingmode=temporary] #TabsToolbar:not([brighttext])::before {
  background-image: url("chrome://browser/skin/toolbar/private.svg#darktext");
}
