/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This file is used for both about:memory and about:compartments.
 *
 * The version used for mobile is located at
 * mobile/android/themes/core/aboutMemory.css.
 * Desktop-specific stuff is at the bottom of this file.
 */
 
@import url("chrome://global/content/aboutMemory.css");

html {
  background: rgb(23,23,23);
  font: message-box;
}

body {
  padding: 0 2em;
  margin: 0;
  min-width: 45em;
  margin: auto;
}

div.ancillary {
  margin: 0.5em 0;
  -moz-user-select: none;
}

div.section {
  padding: 2em;
  margin: 1em 0em;
  border: 1px solid rgb(50,50,50);
  border-radius: 10px;
  background: rgb(43,43,43);
  color: #fff;
}

div.opsRow {
  padding: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  border: 1px solid rgb(50,50,50);
  border-radius: 10px;
  background: rgb(43,43,43);
  display: inline-block;
  color: #fff;
}

div.opsRowLabel {
  display: block;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.opsRowLabel label {
  margin-left: 1em;
  font-weight: normal;
}

div.non-verbose pre.entries {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  background-color: rgb(110,110,110);
  color: #fff;
  padding-left: .1em;
}

.accuracyWarning {
  color: #d22;
}

.badInputWarning {
  color: #f00;
}

.treeline {
  color: rgb(75,75,75);
}

.mrValue {
  font-weight: bold;
  color: #fff;
}

.mrPerc {
}

.mrSep {
}

.mrName {
  color: #fff;
}

.mrNote {
  color: #fff;
}

.hasKids {
  cursor: pointer;
}

.hasKids:hover {
  text-decoration: underline;
}

.noselect {
  -moz-user-select: none;  /* no need to include this when cutting+pasting */
}

.option {
  font-size: 80%;
  -moz-user-select: none;  /* no need to include this when cutting+pasting */
  color: #fff;
}

.legend {
  font-size: 80%;
  -moz-user-select: none;  /* no need to include this when cutting+pasting */
  color: #fff;
}

.debug {
  font-size: 80%;
}

.hidden {
  display: none;
}

.invalid {
  color: #fff;
  background-color: #f00;
}

/* Desktop-specific parts go here. */

.hasKids:hover {
  text-decoration: underline;
}

