/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-appearance: none;
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
}

.checkbox-label-box {
  margin-inline-start: 2px;
  border: 1px solid transparent;
  padding: 0px 1px;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-label-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  background-color: rgb(62,62,62);
}

checkbox[disabled="true"] {
  color: GrayText;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  -moz-appearance: none;
  -moz-box-align: center;
  border: 1px solid;
  -moz-border-top-colors: rgb(75,75,75);
  -moz-border-right-colors: rgb(75,75,75);
  -moz-border-bottom-colors: rgb(75,75,75);
  -moz-border-left-colors: rgb(75,75,75);
  min-width: 13px;
  min-height: 13px;
  background: rgb(50,50,50) no-repeat 50% 50%;
}
  
checkbox:hover:active > .checkbox-check {
  background-color: rgb(110,110,110);
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.svg#check");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
  background-image: url("chrome://global/skin/checkbox/cbox-check.svg#check-dis") !important
}

