/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== dialog.css =====================================================
  == Styles used by the XUL dialog element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

dialog { 
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

/* ::::: dialog buttons ::::: */

.dialog-button {
  font: menu;
  margin-top: 6px;
}

/* ::::: dialog header ::::: */

dialogheader {
  margin: 0px 5px 5px 5px;
  border: 1px solid rgb(50,50,50);
  padding: 5px 8px;
  background-color: rgb(110,110,110);
  color: #fff;
}

.dialogheader-title {
  margin: 0px !important;
  font-size: larger;
  font-weight: bold;
}

/* ::::: large dialog header ::::: */

.header-large {
  -moz-box-orient: vertical;
  margin-top: -8px;
  margin-bottom: 0;
  margin-inline-start: -8px;
  margin-inline-end: -10px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: rgb(50,50,50);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline-start: 25px;
  padding-inline-end: 5px;
  background-color: rgb(43,43,43);
  color: #fff;
}

.header-large > .dialogheader-title {
  font: inherit;
  font-weight: bold;
}

.header-large > .dialogheader-description {
  margin-inline-start: 12px !important;
}
