dropmarker {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  -moz-box-align: center;
  -moz-box-pack: center;
  border: 1px solid;
  -moz-border-top-colors: rgb(75,75,75);
  -moz-border-right-colors: rgb(75,75,75);
  -moz-border-bottom-colors: rgb(75,75,75);
  -moz-border-left-colors: rgb(75,75,75);
  padding: 1px;
  list-style-image: url("chrome://global/skin/arrow/arrow-v.svg#dn");
  -moz-image-region: auto;
}

dropmarker > image {
  width: 9px;
}

dropmarker:hover:active:not([disabled="true"]) {
  background-color: rgb(110,110,110);
  padding-top: 2px;
  padding-bottom: 0px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
  padding-inline-start: 2px;
  padding-inline-end: 0px;
}

dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-v.svg#dn-dis");
}
