/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.contentPane {
  margin: 9px 8px 5px 8px;
}

.actionButtons {
  margin: 0px 3px 6px 3px !important;
}

treechildren::-moz-tree-image(siteCol) {
  list-style-image: url(chrome://browser/skin/places/place.svg#defaultFavicon);
  width: 16px;
  height: 16px;
  -moz-margin-end: 5px;
  margin-inline-end: 5px;
}

window:not([chromehidden]) treechildren::-moz-tree-image(siteCol, selected), /* for the 'in-content' version */
treechildren::-moz-tree-image(siteCol, selected, focus) {
  list-style-image: url(chrome://browser/skin/places/place.svg#defaultFaviconHL);
}
