/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

richlistbox {
  -moz-appearance: none;
  margin: 2px 4px;
  background-color: rgb(75,75,75);
  color: #fff;
}

richlistbox[disabled="true"] {
  color: GrayText;
}

richlistitem[selected="true"] {
  background-color: rgb(110,110,110);
  color: #fff;
}

richlistbox:focus > richlistitem[selected="true"] {
  background-color: rgb(110,110,110);
  color: #fff;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"] {
  outline: 1px dotted rgb(50,50,50);
  outline-offset: -1px;
}

richlistbox[seltype="multiple"]:focus > richlistitem[current="true"][selected="true"] {
  outline: 1px dotted rgb(60,60,60);
}
