/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttons {
  -moz-appearance: none;
  cursor: default;
}

.spinbuttons-button {
  min-width: 13px;
  min-height: 11px;
  margin: 0 !important;
  border: 1px solid;
  -moz-border-top-colors: rgb(75,75,75);
  -moz-border-right-colors: rgb(75,75,75);
  -moz-border-bottom-colors: rgb(75,75,75);
  -moz-border-left-colors: rgb(75,75,75);
  background-color: rgb(50,50,50);
}

.spinbuttons-button > .button-box {
  border: 0;
}

.spinbuttons-button:hover {
  background-color: rgb(75,75,75);
}

.spinbuttons-button:hover:active {
  background-color: rgb(23,23,23);
}

.spinbuttons-button[disabled="true"] {
  background-color: rgb(62,62,62);
}

.spinbuttons-up {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#up");
  background-position: center center;
  background-repeat: no-repeat;
}

.spinbuttons-up[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#up-dis");
}

.spinbuttons-down {
  -moz-appearance: none;
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#dn");
  background-position: center center;
  background-repeat: no-repeat;
}

.spinbuttons-down[disabled="true"] {
  background-image: url("chrome://global/skin/arrow/arrow-v.svg#dn-dis");
}
