/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tree ::::: */

tree {
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

/* ::::: tree focusring ::::: */

.focusring > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid transparent;  
}

.focusring:focus > .tree-stack > .tree-rows > .tree-bodybox {
  border: 1px solid #000000;
}

/* ::::: tree rows ::::: */

treechildren:not(.autocomplete-treebody)::-moz-tree-row(multicol, odd) {
  background-color: -moz-oddtreerow;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
  background-color: -moz-cellhighlight;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected, focus) {
  background-color: Highlight;
}

/* ::::: tree cells ::::: */

treechildren::-moz-tree-cell-text(selected) {
  color: -moz-cellhighlighttext;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell {
  border: 1px solid transparent;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text {
  border: 1px solid transparent;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected) {
  background-color: -moz-cellhighlight;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected) {
  color: -moz-cellhighlighttext;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected) {
  background-color: -moz-cellhighlight;
  color: -moz-cellhighlighttext;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  background-color: Highlight;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, current, focus) {
  border: 1px dotted #000000;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, current, focus) {
  border: 1px dotted #000000;
}

tree[seltype="cell"] > treechildren::-moz-tree-cell(active, selected, current, focus) {
  border: 1px dotted #C0C0C0;
}

tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, current, focus) {
  border: 1px dotted #C0C0C0;
}

/* ::::: lines connecting cells ::::: */

tree[seltype="cell"] > treechildren::-moz-tree-line,
tree[seltype="text"] > treechildren::-moz-tree-line,
treechildren::-moz-tree-line {
  border: 1px dotted ThreeDShadow;
}

tree[seltype="cell"] > treechildren::-moz-tree-line(active, selected, focus),
treechildren::-moz-tree-line(selected, focus) {
  border: 1px dotted HighlightText;
}

/* ::::: tree separator ::::: */

treechildren::-moz-tree-separator {
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
}

/* ::::: drop feedback ::::: */

tree[seltype="cell"] > treechildren::-moz-tree-cell-text(primary, dropOn),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(primary, dropOn),
treechildren::-moz-tree-cell-text(primary, dropOn) {
  background-color: Highlight;
  color: HighlightText;
}

treechildren::-moz-tree-drop-feedback {
  background-color: Highlight;
}

/* ::::: tree progress meter ::::: */

treechildren::-moz-tree-progressmeter {
  padding: 1px;
  border: 1px solid;
  border-top-color: ThreeDShadow;
  border-right-color: ThreeDHighlight;
  border-bottom-color: ThreeDHighlight;
  border-left-color: ThreeDShadow;
  background-color: -moz-Dialog;
  color: ThreeDShadow;
}

treechildren::-moz-tree-progressmeter(progressUndetermined) {
  list-style-image: url("chrome://global/skin/progressmeter/progressmeter-busy.gif");
}

/* ::::: tree columns ::::: */

treecol:hover,
treecolpicker:hover {
  color: -moz-buttonhovertext;
}

/* ..... internal box ..... */

treecol:hover:active,
treecolpicker:hover:active {
  color: ButtonText;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDShadow transparent;
  -moz-border-bottom-colors: ThreeDShadow transparent;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
  padding-top: 0px;
  padding-bottom: 0px;
  -moz-padding-start: 3px;
  -moz-padding-end: 1px;
}

.treecol-image:hover:active {
  padding: 0px;
  -moz-padding-start: 2px;
}

treecol:hover:active .treecol-text {
  margin: 1px 0px -1px 0px !important;
}

/* ::::: column drag and drop styles ::::: */

treecol[dragging="true"] {
  -moz-border-top-colors: ThreeDDarkShadow transparent !important;
  -moz-border-right-colors: ThreeDDarkShadow transparent!important;
  -moz-border-bottom-colors: ThreeDDarkShadow transparent !important;
  -moz-border-left-colors: ThreeDDarkShadow transparent !important;
}

/* ::::: sort direction indicator :::::  */

.treecol-sortdirection {
  -moz-appearance: treeheadersortarrow;
}

/* ::::: twisty :::::  */

treechildren::-moz-tree-twisty {
  -moz-appearance: treetwisty;
  -moz-padding-end: 4px;
  padding-top: 1px;
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

treechildren::-moz-tree-twisty(open) {
  -moz-appearance: treetwistyopen;
  width: 9px; /* The image's width is 9 pixels */
  list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}

treechildren::-moz-tree-indentation {
  width: 18px;
}

/* ::::: gridline style ::::: */

treechildren.gridlines::-moz-tree-cell {
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

/* ::::: editable tree ::::: */

treechildren::-moz-tree-row(selected, editing) {
  background-color: transparent;
  border: none;
}

treechildren::-moz-tree-cell-text(selected, editing) {
  color: inherit;
}

.tree-input {
  border: 1px solid Highlight;
  -moz-border-top-colors: Highlight;
  -moz-border-bottom-colors: Highlight;
  -moz-border-left-colors: Highlight;
  -moz-border-right-colors: Highlight;
  margin: 0;
  -moz-margin-start: -4px;
  padding: 1px;
}