#titlebar {
  display: none;
}

.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) > * > * > .tab-text {
  text-shadow: none;
}

#navigator-toolbox[tabsontop="false"] #PersonalToolbar,
#navigator-toolbox[tabsontop="false"] #TabsToolbar {
  background: transparent;
}

/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  font-weight: normal;
  border: 0;
  border-radius: 10000px;
  padding: 1px 8px;
  margin: 0 0 1px;
}

.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
  margin: 0 !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

toolbarbutton.bookmark-item > menupopup {
  margin-top: 2px;
  -moz-margin-start: 3px;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  min-height: 16px;
  max-height: 16px;
}

.bookmark-item > .toolbarbutton-icon[label]:not([label=""]),
.bookmark-item > .toolbarbutton-icon[type="menu"] {
  -moz-margin-end: 5px;
}
